__pycache__
*.pyc
.venv
venv
.git
.github
Dockerfile
.dockerignore
frontend/node_modules
frontend/dist
mam-data
backend/data/settings.json
backend/data/subscriptions.json
backend/data/download_history.json
backend/data/rss_settings.json
backend/data/subtitles
backend/data/logs
backend/data/rss_posters
backend/data/torrents.json
backend/data/resource_monitor
backend/data/mam.sqlite3*
